*
{
    box-sizing: border-box;
}

html 
{
    background-color: rgb(192, 189, 189);
}

h1
{
    text-align: center;
    background-color: rgb(32, 184, 32);
}

p
{
    width: 50%;
    border: crimson solid 3px;
}

img
{
    width: 50vw;
    margin-left: 100px;
}

ol > li
{
    font-size: 25px;
    margin: 20px;
}