*
{
    box-sizing: border-box;
}

html 
{
    background-color: red;
}

button
{
    color: red;
}

h1
{
    text-align: center;
    background-color: yellow;
}

p
{
    width: 500px;
    border: green dashed 2px;
}

img
{
    width: 50vw;
    margin-left: 100px;
}

ol > li
{
    font-size: 25px;
    margin: 20px;
}